version: "3.8"

services:
  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
    networks:
      - app-network

  backend:
    image: node04-backend
    restart: always
    depends_on:
      - mongo
    ports:
      - "5000:5000"
    networks:
      - app-network

  frontend:
    image: react01-frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:3000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
